@font-face {
    font-family: KBbubblegum;
    font-style:normal;
	font-weight:bold;
    src: url(../Fonts/KBbubblegum.ttf);
}
*{ 
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
body{
    font-size: 14px;
    overflow-x: hidden;
}
h1, h1 span{
    font-family: KBbubblegum, sans-serif; 
    text-align: center;
}
.font{
    font-family: KBbubblegum, sans-serif;
}
.pink{
    color: #CC2E78;
}
.yellow{ 
    color: #FBED21; 
    display: inline-flex; 
    flex-direction: column; 
    align-items:flex-start;
}
.bold{
    font-weight: bold;
}
/*Iconos*/
img[alt$=white-icon]{height: 1.2em;}
img[alt^=linea]{height: 0.6em;}
img[alt$=pink-icon]{height: 1.5em}

:root{
    --margin-h1: 65%; /*margen para llevar el título hacia la izquierda*/
    --exclamacion: 0.9em; /*exclamación del título*/
    --wavy: 0.3em; /*wavy amarillo del título*/

    /*Font Sizes*/
    --fs-xl: 2rem;
    --fs-700: 1.8rem;
    --fs-600: 1.4rem;
    --fs-500: .85rem;
    --fs-400: .7rem;

    /* Colors */
    --pink: #CC2E78;
    --pink-background: #CD64A9;
    --yellow: #FBED21;
    
}



/* NAVEGACIÓN-------------------NAVEGACIÓN */
.nav{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 min(7em, 9%);
    width: 100%;
    height: 6rem;
}
.logo{
    width: 30%;
}
.nav-ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-weight: bold;
    /* width: max(50%, 250px); */
    width: 70%;
    font-size: calc(1vw + 0.5em);
    gap: 1.5em;
}
.nav-item{
    color: #1BB2CB; 
    text-decoration: none;
}
.blue-btn /*btn Contáctanos*/{
    display: inline-block;
    border-radius: 50px;
    border: .2rem solid #1BB2CB;
    padding: 0.9em;
    position: relative;
    transition: color 0.3s;
}
.blue-btn::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 100%;
    border-radius: 50px;
    inset: 0;
    margin: auto 0;
    transition: linear 0.4s;
}
.blue-btn:hover::before{
    width: 100%;
    background: #1BB2CB;
}
.blue-btn:hover{
    color: white;
}
img[alt=logo-png]{
    height: 3em;
}
[alt="hamburguesita"]{
    height: 1.2em;
}
[src*="close-hamburguesa"]{
    height: 2em;
}
.toggle{
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}
@media (max-width: 38em){ /*Query para que cuando el menú sea menor que 38em se active el menú de hamburguesa*/
    .nav-ul{ 
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        touch-action: none;

        position: fixed;
        inset: 0 0 0 45%;

        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.5em;

        padding: min(30vh, 10rem) 3em;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .nav-ul[data-visible="true"]{
        transform: translateX(0%);
    }
    .toggle{
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }
}

/* BARRA INICIAL----------------BARRA INICIAL */
.barra{
    height: 3.5rem;
    background-color: #CC2E78;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 min(7em, 9%);
}
.barra div{
    display: flex;
    width: 50%;
    font-size: calc(1vw + 0.5em);
    color: white;
    font-weight: 600;
    align-items: center;
    gap: 1rem;
}
.barra-email{
    justify-content: flex-start;
}
.barra-rrss{
    justify-content: flex-end;
}
.barra p{display: inline;}


/* HEADER------------HEADER------------HEADER------------HEADER */
.header{
    background: url(../Img/cute-little-girl.jpg);
    background-color: hsla(0, 0%, 0%, 0.25);
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100%;
    padding: max(30px, 8%) min(7em, 9%);
}
.title{
    position: relative;
    margin-right: var(--margin-h1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title h1{
    position: relative;
    font-size: var(--fs-xl);
}
.title img:first-child{
    position: relative;
    height: var(--exclamacion);
    left: 12px;
    top: 5px;
}
.title img:last-child{
    position: relative;
    top: 0;
    left: 0;
    height:var(--wavy);
}


/* SECCIONES DE CONTENIDO ---- SECCIONES DE CONTENIDO */
h2{
    position: relative;
    font-weight: lighter; 
    display: inline-flex; 
    flex-direction: column; 
    align-items: center;
    font-size: var(--fs-600);
    text-align: center;
}
h2 img{
    position: relative;
    bottom: -5px;
    left: 0;
}

/* SERVICIOS------------SERVICIOS-----------SERVICIOS */
#servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: max(30px, 6%) min(7em, 9%);
}
#servicios h2{
    color: var(--pink);
    margin-bottom: max(30px, 6%); /*el mismo que el padding-top de #servicios*/
}
.servicios-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 1.5rem;
}
.article{
    text-align: center;
    width: 100%;
    max-width: 250px;
}
.article h3{color: #1BB2CB; 
    font-size: var(--fs-500);
    line-height: 1.3;
    margin: 0.5em 0;
}
.article p{
    font-weight: lighter;
    font-size: var(--fs-400);
}
img[alt^=servicio]{height: 3em;}


/* ESPECIALISTAS----------ESPECIALISTAS------ESPECIALISTAS */
#especialistas{
    margin-bottom:  max(30px, 8%);
    text-align: center;
}
#especialistas header{
    background-image: url(../Img/happy-little-best-friends-celebrating-2.jpg);
    background-color: hsla(0, 0%, 0%, 0.25);
    background-blend-mode:darken;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100%;
    padding-top: max(30px, 4%);
    padding-bottom: max(68px, 18%);
}
#especialistas h2{
    color: var(--yellow);
}
.profesionales{
    padding: 0 min(7em, 9%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--pink);
    text-align: center;
    gap: 1rem;
    position: relative;
    top: -65px;
}
.profesionales img{
    width: 100%;
    max-width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: top center;
    border-radius: 100%;
}
.profesionales h3{
    font-size: var(--fs-500);
}
.profesionales p{
    font-style: italic; 
    font-size: var(--fs-400)
}


/* CONTACTO----------------------CONTACTO-----------------CONTACTO */
#contacto{
    background-image: url(../Img/teenage-girl-cheerful-happy-with-brunette-short-hair-pointing-her-finger-left-copy-spac_2.jpg);
    background-repeat: no-repeat;
    background-color: var(--pink-background);
    background-size: 100%;
    padding: max(30px, 4%) min(7em, 9%) max(30px, 8%);
    text-align: center;
}
#contacto h2{
    color: white;
    margin-bottom: max(30px, 6%);
     
}
form{
    margin: 0 auto;
    width: 85%;
    max-width: 600px;
    color: white;
}
form div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
form div > input{
    width: 46%;
}
input{
    background: none;
    border-style: none; 
    border-bottom: 2px solid white;
    outline: none; 
    color: white; 
    font-size: var(--fs-500);
    width: 100%; 
    height: 2em;
    margin-bottom: 1.5em;
    padding-left: .3rem;
}
form input:nth-child(4){ /*btn Enviar*/
    width: 30%;
    min-width: 100px;
    height: 3em;
    margin: 1.5em auto 0;
    border-radius: 50px;
    border: .2rem solid white;
}


/* FOOTER---------------FOOTER-------------FOOTER */
footer{
    display: flex;
    flex-direction: column;
}
footer > div:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: max(30px, 6%) min(7em, 9%) 30px;
}
.rrss{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rrss img[alt="logo-footer"]{height: 5em;}
.rrss > p{
    font-size: var(--fs-700);
    color: #1BB2CB;
}
.rrss--info{
    color: #CC2E78;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .3em;
    margin-top: 1em;
}
.rrss--info-email, .rrss--info-follow{
    display: flex;
    justify-content: space-between;
    gap: .5em;
}
.rrss--info-follow{
    flex-direction: row-reverse;
}
[alt="imagen-footer"]{
    position: relative;
    height: 12em;
    bottom: -35px;
    right: -60px;
}
.copyright{
    background: #92D4D7;
    padding: max(30px, 3%) 0;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: var(--fs-400);
}



/* MEDIA SCREEN ---------------- MEDIA SCREEN --------------- MEDIA SCREEEN */

@media screen and (min-width: 1280px){
    .article{
        max-width: 345px;
    }
    .profesionales img{
        max-width: 190px;
        height: 190px;
    }
}
@media screen and (min-width: 1000px){
    :root{
        --fs-xl: 3.2rem;
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-500: .95rem;
        --fs-400: .8rem;
    }
    .profesionales img{
        max-width: 170px;
        height: 170px;
    }
}
@media screen and (min-width: 750px){
    :root{
        --fs-xl: 2.5rem;
    }
    .rrss--info{
        flex-direction: row;
        margin-top: 0;
        gap: 1em;
    }
    .rrss--info-follow{
        flex-direction: row;
    }
}
@media screen and (max-width: 600px){
    :root{
        --fs-600: 1.2rem;
        --margin-h1: 0; /* se quita el margen para centrar el título*/
    }
    .header{
        background-color: hsla(0, 0%, 0%, 0.4);
    }
    .profesionales{
        flex-direction: column;
        top: -30px;
    }
    .profesionales img{
        max-width: 120px;
        height: 120px;
    }
    #contacto{
        background-image: none;
    }
    form{
        width: 100%;
    }
    [alt="imagen-footer"]{
        display: none;
    }
    
}